HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Dependency directories
node/
node_modules/
jspm_packages/
/.pnp
.pnp.js

build
.env

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/